body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item {
    margin: 0;
    padding: 20px 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.item:not(:last-child) {
    border-bottom: none; /* 移除每个非最后一个元素的底部边框 */
}

.item:hover {
    background-color: var(--hover-color, #ddd);
}
