body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    background: url('3.jpg') no-repeat center center fixed;
    background-size: cover; /* 自动调整图片大小以覆盖整个页面 */
}

.back-container {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
    z-index: 1000; /* 确保按钮和文字在页面上方 */
}

.back-button {
    width: 100px;
    height: 100px;
    background: url('4.png') no-repeat center center;
    background-size: contain;
    border: none;
    cursor: pointer;
    display: block;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: rgba(255, 255, 255, 0.1); /* 半透明白色背景 */
}

.content {
    width: 95%;
    height: 95%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0; /* 不使用圆角 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 1s, opacity 1s;
    opacity: 0;
    display: grid;
    gap: 20px;
    box-sizing: border-box;
}

.grid-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 4fr;
    gap: 20px;
}
.grid-item {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.area1-2 {
    grid-column: 1 / span 2;
    text-align: center;
}

.cute-font {
    font-size: 15vw;
    font-family: 'Comic Sans MS', 'Comic Sans', cursive;
    text-align: center;
}

#section0 .content {
    transform: translateX(100%);
}

#section1 .content {
    transform: translateX(-100%);
}

#section2 .content {
    transform: translateX(100%);
}

#section3 .content {
    transform: translateX(-100%);
}

#section4 .content {
    transform: translateX(100%);
}

#section5 .content {
    transform: translateX(-100%);
}

#section6 .content {
    transform: translateX(100%);
}

#section7 .content {
    transform: translateX(-100%);
}

#section8 .content {
    transform: translateX(100%);
}

#section9 .content {
    transform: translateX(-100%);
}

#section10 .content {
    transform: translateX(100%);
}

#section11 .content {
    transform: translateX(-100%);
}

#section12 .content {
    transform: translateX(100%);
}

#section13 .content {
    transform: translateX(-100%);
}

#section14 .content {
    transform: translateX(100%);
}

#section15 .content {
    transform: translateX(-100%);
}

#section16 .content {
    transform: translateX(100%);
}

#section17 .content {
    transform: translateX(-100%);
}

#section18 .content {
    transform: translateX(100%);
}

#section19 .content {
    transform: translateX(-100%);
}

#section20 .content {
    transform: translateX(100%);
}

.in-view {
    transform: translateX(0) !important;
    opacity: 1 !important;
}

.info {
    display: flex;
    align-items: flex-start;
    margin-top: 20px;
    text-align: left;
}

.photo {
    width: 13vw; /* 使用视口宽度的50% */
    height: auto;
    border-radius: 10px;
    max-width: 100%;
    flex-shrink: 0; /* 防止图片被缩小 */
    border-left: 20px;
    margin-bottom: 100px; /* 增加图片之间的间距 */
}
.photo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text {
    max-width: 400px;
    align-items: center;
}

.text p {
    font-size: 2em;
    margin: 10px 0;
    
}